version: "3.8"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./api:/var/www/html
    tty: true
    command: symfony server:start --no-tls --port=8000 --allow-all-ip



